# Compiled class file
*.class
*.exec

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml
**/bin/

**/java
!**/src/main/java
!**/src/test/java

**/target/
**/lib/

**/src/test/**/output/
**/src/test/**/resources/output/
**/output
/Catridges/**/java
/sample-impl/**/volante/**/java
**/logs/
**/\.camel/

**/db.data
**/db.redo
**/lock